[Unit]
Description=callsign
After=syslog.target network-online.target

[Service]
User=ken
ExecStart=/home/ken/scripts/rotate_callsign_to_rds.sh
WorkingDirectory=/home/ken/scripts
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
